$debug-browser-support: true;

@import "_common";
@import "components/_button";
@import "compass/css3/border-radius";

/* height of buttons used for dashboard widget shell */
/* e.g. configure button */
$height-button-widgetshell: 23px;

$dashboard-module-title-height: 35px;
$dashboard-module-padding: 10px;
$title-height: $dashboard-module-title-height - $dashboard-module-padding;

/* dashboard PAGETYPE */
/* layout rules       */
div[data-page="Dashboard"], div[data-page="UserDashboardEdit"] {
    #guts {
        padding: ($header-height + $subheader-height) $page-margin-right 10px $page-margin-left;
    }

    #sidebar_wrapper {
        display: none;
    }

    #left {
        margin: 0;
    }

    #main_content {
        border: none;
        @include after-clearfix();
    }
}
/* END dashboard PAGETYPE > layout */

/* ************ */
/* dashboard PAGETYPE */
/* heading            */
/* its mostly a regular page heading, but w/edit button on right */
.dashboard_sub_header {
    .right {
        float: right;
    }
    .button {
        background-color: $shaded-background-color;
        display: inline-block;
        cursor: pointer;
        i {
            /* covers the FA and OI glyphs used, such as the cog */
            color: $color-text3;
            font-size: 13px;
            line-height: $height-button-widgetshell;
        }
    }
    
    .configure {
        /* the configure button */
        width: 35px;
        @include panel-button($height-button-widgetshell);
    }
}
/* END: dashboard PAGETYPE > heading */


.dashboard_module {

/* ************ */
/* A dashboard_module >  */
/* widget: activity stream */

    .activity_list {
        max-height: 450px;
        overflow-y: auto;
    }
/* END: activity stream */

    .no_activity {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #595959;
        font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14pt;
        font-weight: regular;
        line-height: normal;
        letter-spacing: normal;
    }

    .text_tip {
        padding: 15px 10px 20px 10px;
        min-height: 60px;
        border: none;
        border-radius: 3px;
        background-color: #F0F0E9;
        color: #595959;
        font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
        font-size: 12pt;
        font-weight: regular;
        line-height: normal;
        letter-spacing: normal;
    }


/* ************ */
/* A dashboard_module >  */
/* widget: site snapshot */

    &.dashboard_site_snapshot {
        ul {
            text-align: center;

            li {
                display: inline-block;
                margin-right: 10px;
                &:last-child { margin-right: 0; }

                .squareish {
                    width: 220px;
                    height: 140px;

                }
            }
        }

       .total {
            padding-top: 10px;
            @include dashboard-huge;
        }

        .model {
            @include dashboard-snapshot-model;
            padding-bottom: 25px;
        }

        .increment {
            @include secondary-text-small;
        }

        $amber: rgb(242, 171, 13);
        $green: rgb(86, 174, 0);
        $blue: rgb(0, 144, 240);
        $purple: rgb(158, 27, 116);

        .workspace .total { color: $amber; }
        .associated_dataset .total { color: $green; }
        .workfile .total { color: $blue; }
        .user .total { color: $purple; }
    }
/* END: site snapshot */


/* ************ */
/* dashboard_module >  */
/* widget: workspace activity/most active chart */

    &.dashboard_workspace_activity {
        .chart {
            text-align: center;

            .axis path, .axis line {
                fill: none;
                stroke: $charcoal;
                shape-rendering: crispEdges;
            }
        }
    }
/* END: workspace activity chart */


/* ************ */
/* A dashboard_module >  */
/* widget: recent workfiles */

    &.dashboard_recent_workfiles {
        #recent_workfiles_main_content {
            position: relative;
            min-height: 150px;

            .clear_list {
                width: 75px;
                @include panel-button($height-button-widgetshell);
                font-size: 12px;
            }

            ul li {
                div {
                    display: inline-block;
                    div {
                        display: block;
                    }
                }
            }
                .file_name {
                    padding: 0 0 0 10px;
                }

                .workfile_link {
                    @include font-primary-link;
                    padding: 0 0 1px 0;
                    width: 500px;
                }

                .workspace_image {
                    vertical-align: bottom;
                    width: 18px;
                    padding-right: 5px;
                }

                .workspace_link {
                    @include font-secondary-link;
                    font-weight: normal;
                    max-width: 420px;
                }
                
                /* common handling for long names */
                .workfile_link,
                .workspace_link {
                    display: inline-block;
                    @include ellipsis;
                }
                
                .time_edited {
                    float: right;
                    margin-right: 1%;
                    vertical-align: top;
                    padding-top: 10px;
                    @include secondary-text-small;
                }    
        }


        .recent_workfiles_list {
            border-top: $border-canon;
            border-bottom: $border-canon;
        }
        .recent_workfiles_list + emptystate {
            border-color: #F00;
        }

        
/*         #recent_workfiles_configuration { */
/*             display:none; */
/*             .mask { */
/*                 position: absolute; */
/*                 top: -10px; */
/*                 left: -10px; */
/*                 background-color: rgba(0,0,0,.75); */
/*                 background-color: $lightbox-overlay-color; */
/*                 padding-bottom: 2px; */
/*                 padding-right: 20px; */
/*                 width: 100%; */
/*             } */
/*             .config_content { */
/*                 background-color: #FFFFFF; */
/*                 margin: 10px; */
/*                 padding: 10px; */
/*             } */

/*             .button_row { */
/*                 padding-top: 15px; */
/*             } */
/*         } */

    }
/* END: recent workfiles */


    .module_header {
        &.activity_list_header {
            .menus {
                float: none;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }


/* .module_sub_header { */
/*     padding-bottom: 7px; */
/* } */

}


/* ************ */
/* rules for general dashboard widget */
/* provides a general style for a widget shell with common elements */


/* ************ */
/* dashboard widget general >  */
/* styles for panel used in configuring the widgets */

.dashboard_module {

    .widget_configuration {
        display: none;

    .mask {
        position: absolute;

        /* position to defeat the padding of the widget shell... */
        top: -$dashboard-module-padding;
        left: -$dashboard-module-padding;

        width: 100%;
        height: 100%;
        
        /* ...and add to cover the shell's padding */
        padding-bottom: ($dashboard-module-padding * 2) + 5;
        padding-right: $dashboard-module-padding * 2;
        
        background-color: $lightbox-overlay-color;
        @include border-radius($default-border-radius);
    }

    .config_content {
        position: absolute;
        /*         top: 0px; */
        /* position to defeat the padding of the widget shell... */
        top: -$dashboard-module-padding;
        left: -$dashboard-module-padding;
                
        width: 100%;
        /* defeat the existing padding */
        /*         margin: 0px -$dashboard-module-padding 0px -$dashboard-module-padding; */
        
        /* match padding of normal widget shell content */
        /* but account for the padding of the border */
        padding: $dashboard-module-padding - 1;
       
        background-color: #FFFFFF;
        @include border-radius($default-border-radius);
        border: 1px solid $charcoal;
    }

    .button_row {     
        margin-top: 20px;
        padding-top: $dashboard-module-padding;
        padding-bottom: $dashboard-module-padding;
    }
        
}

}
/* END: widget configuration */

/* .module_sub_header { */
/*     padding-bottom: 7px; */
/* } */


/* ************ */
/* rules for general dashboard widget */
/* provides a general style for a widget shell with common elements */

.dashboard_module {

    padding: $dashboard-module-padding $dashboard-module-padding ($dashboard-module-padding * 1.5) $dashboard-module-padding;
    margin-top: 20px;
    border: $border-canon;
    @include border-radius(3px);
    border-top-color: $border-color-dark;
    
    /* .right section contains shell buttons, e.g. configure */
    .right {
        float: right;
    }
    
    .button {
        background-color: $shaded-background-color;
        display: inline-block;
        margin-right: 3px;
        cursor: pointer;
        
        /* covers the FA and OI glyphs used; i.e the cog */
        i {
            color: $color-text3;
            font-size: 12px;
            line-height: $height-button-widgetshell;
        }
        
        /* remove rightside margin on the rightmost button so that it is flush right */
        &:last-child {
            margin-right: 0px;
        }
    }
    
    /* remove rightside margin on the rightmost button so that it is flush right */
    /* .button:last-child { */
    /*      */
    /* } */

    /* the configure button */
    .configure {
        width: 35px;
        @include panel-button($height-button-widgetshell);
    }


    .module_header {
        min-height: $title-height + $dashboard-module-padding;
        line-height: $title-height;

        .title {
            display: inline-block;
            @include dashboard-module-title;
            height: $title-height;
            line-height: $title-height;
        }
    }
    
/* rules for the recent activity hovering list that is part of the workspace cards */
.tooltip {
        
    li.comment {
        .insight_ribbon {
            top: -18px;
        }
    }
    
    .tooltip {
        width: 350px;
        li.comment {
            .insight_ribbon {
                top: -18px;
            }
            .object {
                display: inline;
            }
        }
    }
}

}


/* TODO move this to the right location */
/* in the css file */

/* workspace most active chart: card of workspace details that displays on hover */
$padding-side-canon: 10px;
$padding-top-canon: 10px;
$padding-bottom-canon: 10px;
  
.hovercard {
    width: 300px;
    box-shadow: $shadow-canon;
    
	p {
		margin: 0;
	}

	.ui-tooltip-content {
		/* override defaults */
		padding: 0;
    	background-color: #FFFFFF;
    	border-radius: 3px;
         
        .name_row {
			padding: $padding-top-canon $padding-side-canon $padding-bottom-canon $padding-side-canon;
			background-color: $greyish-blue;

            a {
                @include font-primary-link;
                line-height: normal;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				display: block;           
            }
        }
        
        .summary_row {
			padding: $padding-top-canon $padding-side-canon $padding-bottom-canon $padding-side-canon;        
        }

        .activity_metric_row {
			padding: $padding-top-canon $padding-side-canon $padding-bottom-canon + 5 $padding-side-canon;
            border-top: 2px dotted $border-color-darkest;
            @include font-normal-gamma;
        }
	}
}


/* ********** */
$app-tip-text: $color-text3;

/* empty and app-tip needs a better home location. */
/* they are not specific to dashboard */
/* empty state of some list or collection of stuff */
.empty_state {

    p {
        color: $disabled-text;
    }

}

/* in-app intrinsic assistance text */
$app-tip-text: $disabled-text;

.app_tip {
    margin-top: 10px;
    padding: 10px 10px 20px 10px;
    
    background-color: $light-grey-yellow;
    /* border: $border-canon; */
    @include border-radius($default-border-radius);
    
    p {
        color: $app-tip-text;
    }
}

$app-tip-text: $color-text3;

/* in-app help or assistance text */
.app_tip {
    margin: 10px 0 10px 0;
    padding: 10px 10px 15px 10px;
    
    background-color: $light-grey-yellow;
    border: $border-canon;
    @include border-radius($default-border-radius);
    
    p {
        color: $app-tip-text;
    }
}

/* END: general dashboard widget */
